node_modules
backend/node_modules
backend/.cache
backend/.tmp
backend/.db
backend/README.md
backend/build
frontend/node_modules
frontend/.next
.cache
.tmp
.db
k8s
Dockerfile
.dockerignore
README.md
start-timescaledb.sh
